body {
  margin: 0;
  padding: 0;

  font-size: 20pt;
  color: white;
  font-family: sans-serif;
}

.info {
  width: 100%;

  position: absolute;
  left: 0;

  padding: .5em;
  text-align: center;

  background-color: rgba(0,0,0,.5);
}

.top { 
  top: 0;
}

.bottom { 
  bottom: 0;
}

.info.error {
  color: red;
}

.info div {
  display: inline-block;
}

.resources .resource {
  width: 20px;
  height: 20px;
  border: solid black 1px;
  background-color: white;
}

.resources .value {
  font-size: 30px;
}

.roll button, .trade button {
  font-size: 30px;
  margin-left: 1em;
}

.scoreboard {
  margin-left: 2em;
}

.trade {
  margin-left: 2em;
}

.trade .resource {
  font-size: 17px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button {
  cursor: pointer;
}

