body {
  margin: 0;
  padding: 0;

  font-size: 20pt;
  color: white;
  font-family: sans-serif;
}

.info {
  width: 100%;

  position: absolute;
  left: 0;

  padding: .5em;
  text-align: center;

  background-color: rgba(0,0,0,.5);
}

.info.error {
  color: red;
}

.messages {
  top: 0;
}

.resources {
  bottom: 0;
}

.resources div {
  display: inline-block;
}

.resource {
  width: 20px;
  height: 20px;
  border: solid black 1px;
  background-color: white;
}

.value {
  font-size: 30px;
}
