body {
  margin: 0;
  padding: 0;

  font-size: 20pt;
  color: white;
  font-family: sans-serif;

  background-color: CornflowerBlue;
}

.info {
  width: 100%;

  position: absolute;
  left: 0;

  padding: .5em;
  text-align: center;

  background-color: rgba(0,0,0,.5);
}

.top { 
  top: 0;
}

#scoreboard {
  position: absolute;
  top: 3em;
  right: 0;
  padding: .2em;
  background-color: rgba(0,0,0,.5);
}

#scoreboard .player {
  width: 20px;
  height: 20px;
  border: solid black 1px;
  display: inline-block;
  margin-right: 5px;
}

#scoreboard .score {
  display: inline-block;
}

.bottom { 
  bottom: 0;
}

.info.error {
  color: red;
}

.info div {
  display: inline-block;
}

.scoreboard {
  margin-left: 2em;
}

.trade.resources {
  margin-left: 1em;
  margin-right: 1em;
}

.resource {
  width: 20px;
  height: 20px;
  border: solid black 1px;

  font-size: 17px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.actions button {
  cursor: pointer;
  font-size: 30px;
}

